<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Pipeline - Upload Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-heading">Data Pipeline</h1>
        <h2>Data Upload Portal</h2>
        <p>Upload your data securely to Google Cloud Storage.</p>

        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                <input id="file-upload" type="file" name="file" required>
                Select File
            </label>
            <br>
            <br>
            <button type="submit">Upload</button>
        </form>

        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}
    </div>
    
</body>
</html>